<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3WbriykNwc_NIHi1N3tIWuQRx2rY8dm4</string>
	<key>GCM_SENDER_ID</key>
	<string>679253199169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.erycExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-6da50</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-6da50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679253199169:ios:6db3dab61d79b04fb779c0</string>
</dict>
</plist>